<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

   <mat-form-field>
      <mat-label>Venda</mat-label>
      <mat-select name="venda" required placeholder="Selecione a venda" [(ngModel)]="itemVenda.venda" [disabled]="vendaDisabled">
         <mat-option *ngFor="let venda of vendas" [value]="venda._id">
            Venda nº {{ venda.num_venda }} - Cliente: {{ venda.cliente.nome }} -
               Data venda: {{ venda.data_venda | date:'dd/MM/yyyy hh:mm:ss'}}
         </mat-option>
      </mat-select>
   </mat-form-field>

   <mat-form-field>
      <mat-label>Produto</mat-label>
      <mat-select name="produto" required placeholder="Selecione o produto" [(ngModel)]="itemVenda.produto">
         <mat-option *ngFor="let produto of produtos" [value]="produto._id">
            {{ produto.descricao }} - {{ produto.preco_venda | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
         </mat-option>
      </mat-select>
   </mat-form-field>

   <mat-form-field>
      <mat-label>Quantidade</mat-label>
      <input type="number" name="quantidade" matInput  [(ngModel)]="itemVenda.quantidade" required>
   </mat-form-field>
  
   <mat-form-field>
      <mat-label>Desconto</mat-label>
      <mat-icon matPrefix>attach_money</mat-icon>
      <input type="number" name="desconto" matInput  [(ngModel)]="itemVenda.desconto" required>
   </mat-form-field>
   
   <mat-form-field>
      <mat-label>Acréscimo</mat-label>
      <mat-icon matPrefix>attach_money</mat-icon>
      <input type="number" name="acrescimo" matInput  [(ngModel)]="itemVenda.acrescimo" required>
   </mat-form-field>

   <mat-toolbar class="form-buttons">
      <mat-toolbar-row>
         <button mat-raised-button type="submit" color="accent">
            Salvar
         </button>
         <button mat-raised-button type="button" (click)="voltar(f)">
            Voltar
         </button>
      </mat-toolbar-row>
   </mat-toolbar>

</form>