<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

   <mat-form-field>
      <mat-label>Nº venda</mat-label>
      <input name="num_venda" matInput [(ngModel)]="venda.num_venda" readonly>
   </mat-form-field>

   <mat-form-field>
      <mat-select name="cliente" required placeholder="Selecione o cliente" [(ngModel)]="venda.cliente">
         <mat-option *ngFor="let cliente of clientes" [value]="cliente._id">
            {{cliente.nome}}
         </mat-option>
      </mat-select>
   </mat-form-field>

   <mat-form-field>
      <mat-label>Data de venda</mat-label>
      <input name="data_venda" matInput [matDatepicker]="data_venda" [(ngModel)]="venda.data_venda" required>
      <mat-datepicker-toggle matSuffix [for]="data_venda"></mat-datepicker-toggle>
      <mat-datepicker #data_venda></mat-datepicker>
   </mat-form-field>

   <mat-form-field>
      <mat-select name="forma_pagamento" required placeholder="Selecione a forma de pagamento"
         [(ngModel)]="venda.forma_pagamento">
         <mat-option *ngFor="let fp of formasPagamento" [value]="fp.codigo">
            {{fp.nome}}
         </mat-option>
      </mat-select>
   </mat-form-field>

   <mat-form-field>
      <mat-label>Data de pagamento</mat-label>
      <input name="data_pagamento" matInput [matDatepicker]="data_pagamento" [(ngModel)]="venda.data_pagamento">
      <mat-datepicker-toggle matSuffix [for]="data_pagamento"></mat-datepicker-toggle>
      <mat-datepicker #data_pagamento></mat-datepicker>
   </mat-form-field>

   <mat-toolbar class="form-buttons">
      <mat-toolbar-row>
         <button mat-raised-button type="submit" color="accent">
            Salvar
         </button>
         <button mat-raised-button type="button" (click)="voltar(f)">
            Voltar
         </button>
      </mat-toolbar-row>
   </mat-toolbar>

</form>
<!-- Só exibe os itens de venda se já existir a venda (ou seja,
   já existir o _id da venda -->
<ng-container *ngIf="venda._id">
   <hr>

   <app-item-venda-list [venda]="venda._id"></app-item-venda-list>
</ng-container>