@import "~material-design-icons/iconfont/material-icons.css";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#container {
   padding: 20px 38px;
   margin-bottom: 45px;
}

.mat-table {
   width: 100%;
}

// Esconder os botões de exclusão das tabelas de listagem
// de dados até que o mouse paire sobre a linha da tabela
.mat-row {

   .mat-raised-button {
      visibility: hidden;
   }

   &:hover {

      filter: brightness(110%);

      .mat-raised-button {
         visibility: visible;
      }
   }
}

/* Regra acima em CSS puro

.mat-row .mat-raised-button {
   visibility: hidden;
}

.mat-row:hover {
   filter: brightness(110%);
}

.mat-row:hover .mat-raised-button {
   visibility: visible; 
}

*/

.new-item-button {
   font-size: 150%;
}

.new-item-button-container {
   text-align: right;
   margin-bottom: 20px;
}

.std-form {
   
   max-width: 80%;
   margin: 0 auto;
   
   mat-form-field {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
      margin-right: 30px;
   }
   
}

.mat-form-field-prefix {
   margin-right: 10px;
}

.form-buttons {
   background: transparent;

   mat-toolbar-row {
      display: flex;
      justify-content: space-around;
   }
}